ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu li {
    display: inline;
}

ul.menu a:link, a:visited {
    width:120px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #BBB;
    text-align:center;
    padding:5px;
}

ul.menu a:hover, a:active {
    background-color: #7A991A;
}

table td {
    padding: 8px;
    text-align: center;
}

.langentry {
    text-align:left;
}

tr:hover {
    background-color:#DDD;
}

table {
    border-collapse: collapse;
}
